* {
 font-family: Arial;
}


.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.line {
  fill: none;
  stroke: #6F257F;
  stroke-width: 0px;
  clip-path: url(#clip);
}

.dot {
	clip-path: url(#clip);
}

.overlay {
  fill: none;
  pointer-events: all;
}

h1 {
	font-size: 12px;
};



  



