.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.line {
  fill: none;
  stroke: #6F257F;
  stroke-width: 1px;
  clip-path: url(#clip);
}

.dot {
	clip-path: url(#clip);
}

.overlay {
  fill: none;
  pointer-events: all;
}


  
.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}


